<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统首页-<%=gAppTitle%></title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href='/stylesheets/index.css'/>
  </head>
  <body>
    <div class="container">
      <img class="imgLogo" src="/images/logo.png" alt="logo"/>
      <p class="tips">简易记账，快乐生活</p>
      <a class="btn btn-primary btn-lg btn-login btn-class" role="button" href="/reg">注册&raquo;</a>
      <a class="btn btn-primary btn-lg btn-login btn-class" role="button" href="/login">登陆&raquo;</a>
    </div> <!-- /container -->

  <script src='/javascripts/jquery-1.11.0.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>
  </body>
</html>