<!DOCTYPE html>
<html>
<head>
	<title>数据统计-<%=gAppTitle%></title>
	<link href="stylesheets/bootstrap.min.css" media="all" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" media="all" rel="stylesheet">
	<link href="/stylesheets/Tstyles.css" media="all" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/listStyle.css"/>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>-->
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
</head>
<body>
<h2 class="text-center" style="color: #FFFFFF">历史消费详情</h2>

<div class="container">
	<% if (user) { %>
	<div class="text-right btnStyle">
		<a href="/home" class="btn btn-default">返回首页</a>
		<!--<a href="/incomemonth" class="btn btn-default">月收入</a>-->
		<a href="/list" class="btn btn-default">最近消费流水</a>
		<a href="/record" class="btn btn-default">消费记账</a>
	</div>

	<div class="timeline animated">
		<%
		consumeresults.forEach(function(consumeresult, index) {
		%>
		<div class="timeline-row">
			<div class="timeline-time">
				<small>共<%= consumeresult.count %>次</small>¥<%= consumeresult.amount %>
			</div>
			<div class="timeline-icon">
				<div class="bg-primary">
					<i class="fa fa-arrows-v"></i>
				</div>
			</div>
			<div class="panel timeline-content">
				<div class="panel-body">
					<h2>
						<%= consumeresult.consumeSubject %>
					</h2>
				</div>
			</div>

		</div>
		<%}) %>
	</div>
	<% } %>
</div>

<script src="javascripts/jquery-1.11.0.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/TimeS.js"></script>
</body>
</html>