body{
    margin-top: 40px;
    background: url("/images/loginBG.png") center no-repeat;
}
.rec{
    margin-bottom: 30px;
    text-align: center;
}
#time h3{

    text-align: center;
}
h3{
    display: inline-block;
}
.title{
    text-align: center;
}
h4{
    text-align: center;
}
#chBtn{
    margin-top: 60px;
    text-align: center;
}
.btn{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 70px;
    height: 20px;
    position: static;
    cursor: pointer;
    opacity: 1;
    margin: 0;
    padding: 10px 20px;
    overflow: visible;
    border: 1px solid white;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font: normal 16px/normal Impact, Charcoal, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre-line;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 0 9px rgba(255,255,86,0.7) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}